/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%; /* 16px default font size for chrome 62.5% = 10px=1rem*/
  box-sizing: border-box;
}
body{
  font: 1.6rem Helbetica;
  height: 100vh;
  margin: 0;
  color: #000;
}
a{
  text-decoration: none;
  color: #ffffff;
}
a:hover{
  color: #ff8000;
}
