.shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.shopping-item {
  flex: 0 1 25rem;
  margin: 1rem;
  height: 45rem;
  border-bottom: .1rem #c0c0c0 solid;
  color: grey;
}
.shopping-item img{
  width: 30rem;
  height: 25rem;
}
.shopping-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.shopping-item .price{
  font-size: 2rem;
  color: #FF5000;
}
.shopping-item .stock{
  font-size: 2rem;
}
.shopping-item a{
  color: chocolate;
  font-size: 3rem;
  font-weight: bold;
}
